<form [formGroup]="form">
 
<h1 class="feedback-header">hi,{{form.value.name.value}}</h1>

<label for="form.value.name">Name: </label ><input class="feedback-card" id="name" type="text" formControlName="name">

<label for="form.value.price">Price: </label><input class="feedback-card" id="price" type="number" formControlName="price">
<label for="form.value.cathegories">Cathegories: </label><select formControlName="cathegories" class="feedback-cathegories feedback-card" [(ngModel)]="selectedCathegory" (change)="onChange()" >
  <option *ngFor="let c of cathegoriesMassive" [ngValue]="c"> {{c.name}} </option>
</select>
<label for="id">Id: </label><input class="feedback-card" id="id" type="text" [formControl]="form.value.id" formControlName="id">
<button (click)="onClick()">Generate ID</button>
<button (click)="onClickSubmit()">Submit</button>
</form>
